.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.333;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.logo-footer .part-of-the-logo {
  color: #4d5ae5;
}
.digital-solutions {
  line-height: 1.5;
  font-size: 16px;
  letter-spacing: 0.02em;
}
